.cardWrapper {
  height: 462px;
  width: 300px;
}

.accountText {
  font-family: Simplon Norm;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.productName {
  font-family: Simplon Norm;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: left;
}

.nameDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
